@font-face {
  font-family: 'Solido-Medium';
  src: url('http://www.thetimes.co.uk/fonts/Solido-Medium.eot');
  src: url('http://www.thetimes.co.uk/fonts/Solido-Medium.eot?iefix') format('eot'),
       url('http://www.thetimes.co.uk/fonts/Solido-Medium.woff') format('woff'),
       url('http://www.thetimes.co.uk/fonts/Solido-Medium.ttf') format('truetype'),
       url('http://www.thetimes.co.uk/fonts/Solido-Medium.svg#webfont') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Solido-ExtraBold';
  src: url('http://www.thetimes.co.uk/fonts/Solido-ExtraBold.eot');
  src: url('http://www.thetimes.co.uk/fonts/Solido-ExtraBold.eot?iefix') format('eot'),
       url('http://www.thetimes.co.uk/fonts/Solido-ExtraBold.woff') format('woff'),
       url('http://www.thetimes.co.uk/fonts/Solido-ExtraBold.ttf') format('truetype'),
       url('http://www.thetimes.co.uk/fonts/Solido-ExtraBold.svg#webfont') format('svg');
  font-weight: normal;
  font-style: normal;
}

html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 150%;
  background-color: #000;
  overflow: hidden;
}

#app-container {
  width: 100%;
  height: 100%;
}
#app {
  max-width: 560px;
  height: 100%;
  margin: 0 auto;
  color: #fff;
  font-size: 1em;
  font-family: 'Solido-Medium';
}

/**
 * MENU
 */

#menu {
  position: relative;
  width: 80%;
  height: 100%;
  margin: 0 auto;
}

#menu .menu-scroll {
  overflow: hidden;
}
#menu .menu-scroll.scroll {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
html.no-touch #menu .menu-scroll.scroll .menu-content {
  margin-right: 2px;
}
#menu .menu-scroll .menu-content {
  margin: 20px 0;
}
#menu .menu-scroll .menu-content .menu-head {
  margin: 20px 0;
  font-family: 'Solido-ExtraBold';
}
#menu .menu-scroll .menu-content .menu-head .menu-mast {
  padding: 0 25%;
}
#menu .menu-scroll .menu-content .menu-head .menu-mast img {
  width: 100%;
}
#menu .menu-scroll .menu-content .menu-head .menu-title {
  padding: 0 10%;
  font-size: 2.6em;
  text-align: center;
}
#menu .menu-scroll .menu-content .menu-head .menu-title img {
  width: 100%;
}
#menu .menu-scroll .menu-content .menu-body {
  margin: 20px 0;
}
#menu .menu-scroll .menu-content .menu-body div {
  padding: 5px;
  border: 1px solid #fff;
  border-bottom: 0;
}
#menu .menu-scroll .menu-content .menu-body div:last-child {
  border-bottom: 1px solid #fff;
}
#menu .menu-scroll .menu-content .menu-body div.link {
  cursor: pointer;
}
html.no-touch #menu .menu-scroll .menu-content .menu-body div.link:hover {
  color: #000;
  background-color: #fff;
}
#menu .menu-scroll .menu-content .menu-body .menu-continue.link {
  color: #fff;
  opacity: 1;
  background-color: #000;
}
#menu .menu-scroll .menu-content .menu-body .menu-continue.disabled {
  color: #ccc;
  opacity: 0.7;
  cursor: default;
  background-color: none;
}

#menu .menu-gradient-top {
  position: absolute;
  top: 0;
  width: 100%;
  height: 20px;
}
#menu .menu-gradient-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 20px;
}

/**
 * RESET
 */

#reset {
  position: relative;
  width: 80%;
  height: 100%;
  margin: 0 auto;
}

#reset .reset-scroll {
  overflow: hidden;
}
#reset .reset-scroll.scroll {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
html.no-touch #reset .reset-scroll.scroll .reset-content {
  margin-right: 2px;
}
#reset .reset-scroll .reset-content {
  margin: 20px 0;
}
#reset .reset-scroll .reset-content .reset-head {
  margin: 20px 0;
  font-family: 'Solido-ExtraBold';
}
#reset .reset-scroll .reset-content .reset-head .reset-mast {
  padding: 0 25%;
}
#reset .reset-scroll .reset-content .reset-head .reset-mast img {
  width: 100%;
}
#reset .reset-scroll .reset-content .reset-head .reset-title {
  padding: 0 10%;
  font-size: 2.6em;
  text-align: center;
}
#reset .reset-scroll .reset-content .reset-head .reset-title img {
  width: 100%;
}
#reset .reset-scroll .reset-content .reset-confirm {
  margin: 20px 0;
  text-align: center;
}
#reset .reset-scroll .reset-content .reset-body {
  margin: 20px 0;
}
#reset .reset-scroll .reset-content .reset-body div {
  width: 35%;
  text-align: center;
  padding: 5px;
  border: 1px solid #fff;
}
#reset .reset-scroll .reset-content .reset-body div.link {
  cursor: pointer;
}
#reset .reset-scroll .reset-content .reset-body .reset-yes {
  float: left;
  margin-left: 5%;
}
#reset .reset-scroll .reset-content .reset-body .reset-no {
  float: right;
  margin-right: 5%;
}
html.no-touch #reset .reset-scroll .reset-content .reset-body div.link:hover {
  color: #000;
  background-color: #fff;
}

#reset .reset-gradient-top {
  position: absolute;
  top: 0;
  width: 100%;
  height: 20px;
}
#reset .reset-gradient-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 20px;
}

/**
 * INFO
 */

#info {
  position: relative;
  width: 80%;
  height: 100%;
  margin: 0 auto;
}

#info .info-top {
  height: 32px;
  padding: 16px 0;
  border-bottom: 1px solid #fff;
}
#info .info-top .info-top-icons {
  height: 32px;
}
#info .info-top .info-top-icons div {
  cursor: pointer;
}
#info .info-top .info-top-icons div.deactive {
  opacity: 0.5;
  cursor: default;
}
#info .info-top .info-top-icons img {
  display: block;
  height: 32px;
}
#info .info-top .info-top-icons .info-title {
  position: absolute;
  left: 0;
  cursor: default;
}
#info .info-top .info-top-icons .info-menu {
  position: absolute;
  right: 20%;
}
#info .info-top .info-top-icons .info-quiz {
  position: absolute;
  right: 0;
}

#info .info-scroll {
  overflow: hidden;
}
#info .info-scroll.scroll {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
#info .info-scroll .info-content img {
  width: 100%;
}
#info .info-scroll .info-content .extra-header {
  margin-top: 2em;
  font-family: 'Solido-ExtraBold';
}
#info .info-scroll .info-content > p:nth-child(1) {
  margin-top: 1em;
}
html.no-touch #info .info-scroll.scroll .info-content {
  margin-right: 2px;
}

#info .info-gradient-top {
  position: absolute;
  top: 65px;
  width: 100%;
  height: 20px;
}
#info .info-gradient-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 20px;
}

/**
 * CREDITS
 */

#credits {
  position: relative;
  width: 80%;
  height: 100%;
  margin: 0 auto;
}

#credits .credits-top {
  height: 32px;
  padding: 16px 0;
  border-bottom: 1px solid #fff;
}
#credits .credits-top .credits-top-icons {
  height: 32px;
}
#credits .credits-top .credits-top-icons div {
  cursor: pointer;
}
#credits .credits-top .credits-top-icons div.deactive {
  opacity: 0.5;
  cursor: default;
}
#credits .credits-top .credits-top-icons img {
  display: block;
  height: 32px;
}
#credits .credits-top .credits-top-icons .credits-title {
  position: absolute;
  left: 0;
  cursor: default;
}
#credits .credits-top .credits-top-icons .credits-menu {
  position: absolute;
  right: 20%;
}
#credits .credits-top .credits-top-icons .credits-quiz {
  position: absolute;
  right: 0;
}

#credits .credits-scroll {
  overflow: hidden;
}
#credits .credits-scroll.scroll {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
#credits .credits-scroll .credits-content img {
  width: 100%;
}
#credits .credits-scroll .credits-content .extra-header {
  margin-top: 2em;
  font-family: 'Solido-ExtraBold';
}
#credits .credits-scroll .credits-content > p:nth-child(1) {
  margin-top: 1em;
}
#credits .credits-scroll .credits-content span {
  font-family: 'Solido-ExtraBold';
}
html.no-touch #credits .credits-scroll.scroll .credits-content {
  margin-right: 2px;
}

#credits .credits-gradient-top {
  position: absolute;
  top: 65px;
  width: 100%;
  height: 20px;
}
#credits .credits-gradient-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 20px;
}

/**
 * QUIZ
 */

#quiz {
  position: relative;
  width: 80%;
  height: 100%;
  margin: 0 auto;
}

#quiz .quiz-top {
  height: 32px;
  padding: 16px 0;
  border-bottom: 1px solid #fff;
}
#quiz .quiz-top .quiz-top-icons {
  height: 32px;
}
#quiz .quiz-top .quiz-top-icons div {
  cursor: pointer;
}
#quiz .quiz-top .quiz-top-icons div.deactive {
  opacity: 0.5;
  cursor: default;
}
#quiz .quiz-top .quiz-top-icons img {
  display: block;
  height: 32px;
}
#quiz .quiz-top .quiz-top-icons .quiz-number {
  position: absolute;
  left: 0;
  margin-top: -15px;
  font-size: 2em;
  cursor: default;
}
#quiz .quiz-top .quiz-top-icons .quiz-menu {
  position: absolute;
  right: 20%;
}
#quiz .quiz-top .quiz-top-icons .quiz-info {
  position: absolute;
  right: 0;
}

#quiz .quiz-scroll {
  overflow: hidden;
}
#quiz .quiz-scroll.scroll {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
html.no-touch #quiz .quiz-scroll.scroll .quiz-content {
  margin-right: 2px;
}
#quiz .quiz-scroll .quiz-content {
  margin: 20px 0;
}
#quiz .quiz-scroll .quiz-content .quiz-image {
  margin-bottom: 20px;
}
#quiz .quiz-scroll .quiz-content .quiz-image img {
  display: block;
}
#quiz .quiz-scroll .quiz-content .quiz-question {
  margin-bottom: 20px;
}
#quiz .quiz-scroll .quiz-content .quiz-answers {
  margin-bottom: 20px;
}
#quiz .quiz-scroll .quiz-content .quiz-answers .quiz-answer {
  padding: 5px;
  color: #ccc;
  opacity: 0.7;
  border: 1px solid #fff;
  border-bottom: 0;
}
#quiz .quiz-scroll .quiz-content .quiz-answers .quiz-answer:last-child {
  border-bottom: 1px solid #fff;
}
#quiz .quiz-scroll .quiz-content .quiz-answers .quiz-answer.link {
  color: #fff;
  opacity: 1;
  cursor: pointer;
}
html.no-touch #quiz .quiz-scroll .quiz-content .quiz-answers .quiz-answer.link:hover {
  color: #000;
  background-color: #fff;
}
#quiz .quiz-scroll .quiz-content .quiz-answers .quiz-answer.correct {
  color: #000;
  opacity: 1;
  background-color: #fff;
}
#quiz .quiz-scroll .quiz-content .quiz-answers .quiz-answer.incorrect {
  color: #fff;
  opacity: 1;
  background-color: #000;
}
#quiz .quiz-scroll .quiz-content .quiz-answers .quiz-answer-letter {
  float: left;
  width: 12%;
}
#quiz .quiz-scroll .quiz-content .quiz-answers .quiz-answer-text {
  float: left;
  width: 88%;
}
#quiz .quiz-scroll .quiz-content .quiz-correct {
  margin-bottom: 10px;
  font-family: 'Solido-ExtraBold';
}
#quiz .quiz-scroll .quiz-content .quiz-fact {
  margin-bottom: 20px;
}
#quiz .quiz-scroll .quiz-content .quiz-twitter {
  margin-bottom: 20px;
}
#quiz .quiz-scroll .quiz-content .quiz-twitter .quiz-twitter-icon {
  float: left;
  padding: 5px 10px 0 0;
}
#quiz .quiz-scroll .quiz-content .quiz-twitter .quiz-twitter-icon img {
  display: block;
  height: 32px;
}
#quiz .quiz-scroll .quiz-content .quiz-twitter .quiz-twitter-text {
  float: left;
  padding: 4px 10px;
  border: 1px solid #fff;
  cursor: pointer;
}
html.no-touch #quiz .quiz-scroll .quiz-content .quiz-twitter .quiz-twitter-text:hover {
  color: #000;
  background-color: #fff;
}

#quiz .quiz-bottom {
  height: 32px;
  padding: 16px 0;
  border-top: 1px solid #fff;
}
#quiz .quiz-bottom .quiz-bottom-icons {
  height: 32px;
}
#quiz .quiz-bottom .quiz-bottom-icons div {
  cursor: pointer;
}
#quiz .quiz-bottom .quiz-bottom-icons div.deactive {
  opacity: 0;
  cursor: default;
}
#quiz .quiz-bottom .quiz-bottom-icons img {
  display: block;
  height: 32px;
}
#quiz .quiz-bottom .quiz-bottom-icons .quiz-prev {
  position: absolute;
  left: 0;
}
#quiz .quiz-bottom .quiz-bottom-icons .quiz-list {
  position: absolute;
  left: 30%;
}
#quiz .quiz-bottom .quiz-bottom-icons .quiz-shuf {
  position: absolute;
  right: 30%;
}
#quiz .quiz-bottom .quiz-bottom-icons .quiz-next {
  position: absolute;
  right: 0;
}

#quiz .quiz-gradient-top {
  position: absolute;
  top: 65px;
  width: 100%;
  height: 20px;
}
#quiz .quiz-gradient-bottom {
  position: absolute;
  bottom: 65px;
  width: 100%;
  height: 20px;
}

/**
 * LIST
 */

#list {
  position: relative;
  width: 80%;
  height: 100%;
  margin: 0 auto;
}

#list .list-top {
  height: 32px;
  padding: 16px 0;
  border-bottom: 1px solid #fff;
}
#list .list-top .list-top-icons {
  height: 32px;
}
#list .list-top .list-top-icons div {
  cursor: pointer;
}
#list .list-top .list-top-icons div.deactive {
  opacity: 0.5;
  cursor: default;
}
#list .list-top .list-top-icons img {
  display: block;
  height: 32px;
}
#list .list-top .list-top-icons .list-title {
  position: absolute;
  left: 0;
  cursor: default;
}
#list .list-top .list-top-icons .list-menu {
  position: absolute;
  right: 20%;
}
#list .list-top .list-top-icons .list-quiz {
  position: absolute;
  right: 0;
}

#list .list-scroll {
  overflow: hidden;
}
#list .list-scroll.scroll {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
html.no-touch #list .list-scroll.scroll .list-questions {
  margin-right: 2px;
}
#list .list-scroll .list-questions {
  margin: 20px 0;
}
#list .list-scroll .list-questions .list-question {
  padding: 5px;
  color: #ccc;
  opacity: 0.7;
  border: 1px solid #fff;
  border-bottom: 0;
}
#list .list-scroll .list-questions .list-question:last-child {
  border-bottom: 1px solid #fff;
}
#list .list-scroll .list-questions .list-question.link {
  color: #fff;
  opacity: 1;
  cursor: pointer;
}
html.no-touch #list .list-scroll .list-questions .list-question.link:hover {
  color: #000;
  background-color: #fff;
}
#list .list-scroll .list-questions .list-question-number {
  float: left;
  width: 15%;
}
#list .list-scroll .list-questions .list-question-text {
  float: left;
  width: 70%;
}
#list .list-scroll .list-questions .list-question-icon {
  float: left;
  width: 15%;
}
#list .list-scroll .list-questions .list-question-icon img {
  float: right;
  display: block;
  height: 32px;
}

#list .list-bottom {
  height: 32px;
  padding: 16px 0;
  border-top: 1px solid #fff;
}
#list .list-bottom .list-score {
  float: left;
  font-size: 0.875em;
  font-style: italic;
}
#list .list-bottom .list-complete {
  float: right;
  font-size: 0.875em;
  font-style: italic;
}

#list .list-gradient-top {
  position: absolute;
  top: 65px;
  width: 100%;
  height: 20px;
}
#list .list-gradient-bottom {
  position: absolute;
  bottom: 65px;
  width: 100%;
  height: 20px;
}

/**
 * CLEAR FIX
 */

.clear-fix:after {
  display: block;
  width: 100%;
  content: "";
  clear: both;
}