<!DOCTYPE html>
<html>
<head>
	<title>World Cup Facts</title>
	<meta name="language" content="en">	
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  <!--meta name="mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black"-->

  <!--link rel="icon" sizes="196x196" href="nice-highres.png">
  <link rel="icon" sizes="128x128" href="niceicon.png">
  <link rel="apple-touch-icon" sizes="128x128" href="niceicon.png">
  <link rel="apple-touch-icon-precomposed" sizes="128x128" href="niceicon.png"-->

	<!--link rel="apple-touch-icon-precomposed" href="assets/images/icon/icon-57.png">
	<link rel="apple-touch-icon" href="assets/images/icon/icon-57.png">
	<link rel="apple-touch-icon" sizes="72x72" href="assets/images/icon/icon-72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="assets/images/icon/icon-57@2x.png">
	<link rel="apple-touch-icon" sizes="144x144" href="assets/images/icon/icon-72@2x.png"-->

	<link rel="stylesheet" type="text/css" href="css/main.css">

  <script src="js/vendor/jquery.min.js"></script>
  <script src="js/vendor/jquery.cookie.js"></script>
  <script src="js/vendor/handlebars.js"></script>
  <script src="js/vendor/modernizr.custom.js"></script>

  <script src="js/mvc/model.js"></script>
  <script src="js/mvc/view.js"></script>
  <script src="js/mvc/controller.js"></script>

</head>
<body>

  <div id="app-container">
    <div id="app">
      <div id="menu"><img src="img/preloader.gif" />
        <!--div style="text-align:center;">LOADING...</div-->
      </div>
    </div>
  </div>

  <script id="menu-template" type="text/x-handlebars-template">
  <div class="menu-scroll">
    <div class="menu-content">
      <div class="menu-head">
        <div class="menu-mast"><img src="img/st-masthead.png" /></div>
        <div class="menu-title"><img src="img/title.png" /></div>
        <!--div class="menu-title">World Cup Quiz</div-->
      </div>
      <div class="menu-body">
        <div class="menu-continue">Continue previous game</div>
        <div class="menu-new link">Start a new game</div>
        <div class="menu-info link">How to play</div>
        <div class="menu-credits link">Credits</div>
      </div>
    </div>
  </div>
  <div class="menu-gradient-top">&nbsp;</div>
  <div class="menu-gradient-bottom">&nbsp;</div>
  </script>

  <script id="reset-template" type="text/x-handlebars-template">
  <div class="reset-scroll">
    <div class="reset-content">
      <div class="reset-head">
        <!--
        <div class="reset-mast"><img src="img/st-masthead.png" /></div>
        <div class="reset-title"><img src="img/title.png" /></div>
        <div class="reset-title">World Cup Quiz</div>
        -->
      </div>
      <div class="reset-confirm">Are you sure you want to start a new game?</div>
      <div class="reset-body clear-fix">
        <div class="reset-yes link">Yes</div>
        <div class="reset-no link">No</div>
      </div>
    </div>
  </div>
  <div class="reset-gradient-top">&nbsp;</div>
  <div class="reset-gradient-bottom">&nbsp;</div>
  </script>

  <script id="info-template" type="text/x-handlebars-template">
  <div class="info-top">
    <div class="info-top-icons">
      <div class="info-title">HOW TO PLAY</div>
      <div class="info-menu"><img src="img/menu.png"/></div>
      <div class="info-quiz"><img src="img/quiz.png"/></div>
    </div>
  </div>
  <div class="info-scroll">
    <div class="info-content">{{{ html }}}</div>
  </div>
  <div class="info-gradient-top">&nbsp;</div>
  <div class="info-gradient-bottom">&nbsp;</div>
  </script>

  <script id="credits-template" type="text/x-handlebars-template">
  <div class="credits-top">
    <div class="credits-top-icons">
      <div class="credits-title">CREDITS</div>
      <div class="credits-menu"><img src="img/menu.png"/></div>
      <div class="credits-quiz"><img src="img/quiz.png"/></div>
    </div>
  </div>
  <div class="credits-scroll">
    <div class="credits-content">{{{ html }}}</div>
  </div>
  <div class="credits-gradient-top">&nbsp;</div>
  <div class="credits-gradient-bottom">&nbsp;</div>
  </script>

  <script id="quiz-template" type="text/x-handlebars-template">
  <div class="quiz-top">
    <div class="quiz-top-icons">
      <div class="quiz-number">Q{{{ number }}}</div>
      <div class="quiz-menu"><img src="img/menu.png"/></div>
      <div class="quiz-info"><img src="img/info.png"/></div>
    </div>
  </div>
  <div class="quiz-scroll">
    <div class="quiz-content">
      {{{ image }}}
      <div class="quiz-question">{{{ question }}}</div>
      <div class="quiz-answers">{{{ answers }}}</div>
      <div class="quiz-correct">{{{ correct }}}</div>
      <div class="quiz-fact">{{{ fact }}}</div>
      {{{ twitter }}}
    </div>
  </div>
  <div class="quiz-bottom">
    <div class="quiz-bottom-icons">
      <div class="quiz-prev"><img src="img/prev.png"/></div>
      <div class="quiz-list"><img src="img/list.png"/></div>
      <div class="quiz-shuf"><img src="img/shuffle.png"/></div>
      <div class="quiz-next"><img src="img/next.png"/></div>
    </div>
  </div>
  <div class="quiz-gradient-top">&nbsp;</div>
  <div class="quiz-gradient-bottom">&nbsp;</div>
  </script>

  <script id="quiz-image-template" type="text/x-handlebars-template">
  <div class="quiz-image"><img src="{{{ image }}}"/></div>
  </script>

  <script id="quiz-answer-template" type="text/x-handlebars-template">
  <div class="quiz-answer {{ style }} clear-fix" data-answer="{{ index }}">
    <div class="quiz-answer-letter">{{{ letter }}}.</div>
    <div class="quiz-answer-text">{{{ answer }}}</div>
  </div>
  </script>

  <script id="quiz-twitter-template" type="text/x-handlebars-template">
  <div class="quiz-twitter clear-fix">
    <div class="quiz-twitter-icon"><img src="img/twitter.png"/></div>
    <div class="quiz-twitter-text">Tweet Fact</div>
  </div>
  </script>

  <script id="list-template" type="text/x-handlebars-template">
  <div class="list-top">
    <div class="list-top-icons">
      <div class="list-title">QUESTIONS</div>
      <div class="list-menu"><img src="img/menu.png"/></div>
      <div class="list-quiz"><img src="img/quiz.png"/></div>
    </div>
  </div>
  <div class="list-scroll">
    <div class="list-questions">{{{ questions }}}</div>
  </div>
  <div class="list-bottom clear-fix">
    <div class="list-score">Score: {{{ score }}}&nbsp;</div>
    <div class="list-complete">Answered: {{{ complete }}}%&nbsp;</div>
  </div>
  <div class="list-gradient-top">&nbsp;</div>
  <div class="list-gradient-bottom">&nbsp;</div>
  </script>

  <script id="list-question-template" type="text/x-handlebars-template">
  <div class="list-question link clear-fix" data-question="{{ index }}">
    <div class="list-question-number">{{{ number }}}.</div>
    <div class="list-question-text">{{{ answer }}}</div>
    {{{ icon }}}
  </div>
  </script>

  <script id="list-question-icon-template" type="text/x-handlebars-template">
  <div class="list-question-icon"><img src="img/{{{ image }}}.png"/></div>
  </script>

  <script>
  $(document).ready(function() {
    // build mvc classes
    var model = new RandomFactsModel();
    var view = new RandomFactsView(model);
    var controller = new RandomFactsController(model, view);
    // create resize events 
    $(window).resize(function() { view.resize(); });
    $(window).bind("orientationchange", function(e) { view.resize(); });
    // resize layout 
    view.resizeView();
    // initialise
    controller.init();
  });
  </script>

  <!-- Analytics -->
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-29101250-5', 'thesundaytimes.co.uk');
    ga('send', 'pageview');
    //ga('create', 'UA-9352106-2', 'thetimes.co.uk');
    //ga('send', 'pageview');
  </script>

</body>
</html>